.root {
    padding: 0;
    width: 100%;
    left: 0% !important;
    bottom: 0;
}

.tableCell {
    font-size: 0.825rem;
    width: 15px;
}

.tableIcon {
    width: 0.5%;
}

.tablePagination {
    display: flex;
    flex-direction: row;
    font-size: 0.1rem;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1;
    margin: -1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1;
}

@media all and (max-width: 768px) and (min-width: 480px) {
    .tableCell {
        font-size: 0.6rem !important;
        width: 10px !important;
    }

    .table {
        font-size: 0.6rem !important;
    }

    .root {
        font-size: 0.6rem !important;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .tableCell {
        font-size: 0.7rem !important;
        width: 20px !important;

    }

    .table {
        font-size: 0.7rem !important;
    }

    .root {
        font-size: 0.6rem !important;
    }
}