.progress {
  width: 150px;
  position: relative;
  border-radius: 25px;
}

.progress .lable {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 12px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .progress {
    width: 100px!important;
  }

}

@media all and (max-width: 768px) and (min-width: 480px) {
  .progress {
    width: 80px!important;
  }
}