.newSiteInfo {
    margin-top: 8%!important;
    width: 80%;
}

.newSiteLong {
    margin-top: 3%!important;
    width: 80%!important;
}

.kinds {
    margin-top: 3%!important;
    width: 30%!important;
}

.minimumKinds {
    margin-top: 3%!important;
    width: 10%!important;
}

.systems {
    margin-left: 3%;
    margin-top: -0.5%;
    width: 30%
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .newSiteInfo {
        font-size: 0.7em!important;
        width: 70%!important;
    }

    .newSiteLong {
        width: 70%!important;
    }
}

@media all and (max-width: 768px) and (min-width: 480px) {
    .newSiteInfo {
        font-size: 0.7em!important;
        width: 70%!important;
    }
    
    .newSiteLong {
        width: 70%!important;
    }
}